.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes ldio-n63odfdng2 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.ldio-n63odfdng2 div {
  position: absolute;
  width: 160px;
  height: 160px;
  border: 8px solid #ffffff;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-n63odfdng2 div {
  animation: ldio-n63odfdng2 1s linear infinite;
  top: 100px;
  left: 100px;
}
.loadingio-spinner-rolling-n64nzqszvaa {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #282c34;
}
.ldio-n63odfdng2 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-n63odfdng2 div {
  box-sizing: content-box;
}
